*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

table{
    
    border: 2px solid;
    border-top: transparent;
    border-collapse:collapse;
    margin: 50px auto;  
    font-size: 18px;
    border-radius: 5px;
    font-weight: 500;
}


caption{
    font-size: 30px;
    background-color : #150050;
    color: white;
    padding: 12px;
}

thead{
    background-image: linear-gradient(#150050, #506D84);
    font-size: 32px;
    color: white;
}

thead:hover{
    color: #150050;
}

tr:hover{
    background-image: linear-gradient(to right, #D7E9F7 5%, #ffff);
}

tr{
    border-bottom: 1px solid #889EAF;
}

td{
    height: 60px;
}

td, th{
    padding: 10px 20px;
    margin-left: 3px;
}

.name{
    width: 500px;
}

.link, .status, .modify{
    text-align: center;
    width: 160px;
}

.status{
    color: green;
}

tr:nth-child(11) .status, tr:nth-child(12) .status{
    color: red;
}

 
i{
    padding: 5px;
    cursor: pointer;
} 

.fa-pen:hover{
    color: blue;
}

.fa-trash-alt:hover{
    color: red;
}