*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.header{
    height: 80px;
    background-color: hsl(220, 22%, 35%);
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
}

.header ul li{
    display: inline-flex;
    text-decoration: none;
    justify-content: space-evenly;
}

.header li a{
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    padding: 3px 5px;
    border-radius: 10px;
    color: white;
    margin: 15px 30px;
}

.header li a:hover{
    background-color: white;
    color: black;
}

.header label i, #check{
    display: none;
}

label #btn, label #cancel{
    color: white;
    font-size: 30px;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}


.banner{
    height: 100vh;
    background-image: url("../images/banner_img.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
}

.banner h1{
    padding: 20px;
    font-size: 40px;
    color: white;
}

.team{
    height: fit-content;
    text-align: center;
    padding-bottom: 30px;
}


.team h1{
    font-size: 40px;
    padding-top: 20px;
}

.team .circles{
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 50px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.team #user1{
    background-image: url("../images/user1.png");
}

.team #user2{
    background-image: url("../images/user2.png");
}

.team #user3{
    background-image: url("../images/user3.png");
}

.team #user4{
    background-image: url("../images/user4.jpg");
}

.about_us h1 {
    text-align: center;
    font-size: 35px;
}
.content {
    display: flex;
    padding-top: 20px;
}
.main-content {
    width: 45%;
    background-color: #30475E;
    text-align: justify;
    height: 500px;
    margin-right: 10px;
    overflow-y: hidden;
}
.main-content h1 {
    color: white;
    padding: 0;
    margin: 20px;
}

.main-content p{
    font-size: 17px;
    color: white;
    padding: 30px;
}
.parts {
    width: 55%;
    height: 500px;
}
.part {
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.part h1 {
    text-align: center;
    color: white;
    line-height: 130px;
}
#part1, #part2 {
    margin-bottom: 10px;
}

#part1{
    background-image: url("../images/project1.jpg");
}
#part2{
    background-image: url("../images/project2.jpg");
}
#part3{
    background-image: url("../images/project3.jpg");
}


.heading{
    margin-top: 2%;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.technologies{
    background-color: #C9CCD5;
    padding-top: 30px;
    text-align: center;
}

.container {
    display: inline-flex;
    width: 100%;
    padding: 20px;
   
}

.card{
    width: 25%;
    padding: 20px 20px 10px 20px;
    margin: 30px;
    background-color: white;
    border-radius: 20px;
}

.container .content{
    display: block;
}

.container .card .img_card img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.container .card .content p{
    text-align: justify;
    margin-top: 10px;
}

.container .card .content h3{
    text-align: center;
}

.container .card .read_more{
    background-color: red;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: auto ;
    margin-top: 15px;
}

.container .card .read_more:hover{
    background-color: blue;
}

.container .card .read_more a div{
    font-size: larger;
    color: white;
}

.description{
    margin-top: 20px;
    text-align: center;
}

.description img{
    width: 500px;
    height: 300px;
    margin:20px;
}

.description p{
    padding: 0 5%;
    text-align: justify;
    margin-bottom: 5%;
}

.footer{
    height: 150px;
    background-color: hsl(220, 22%, 35%);
    padding-top: 10px;
    color: white;
    text-align: center;
    overflow-y: hidden;
}

.footer h2{
    margin-bottom: 10px 0;
}

.footer ul{
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
}

.footer ul li{
    text-decoration: none;
    margin: 10px 20px;
}

.footer ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.footer ul li a i{
    margin-right: 10px;
}

.footer p{
    margin-top: 10px;
}

.footer a{
    float: right;
    margin-right: 20px;
    padding-bottom: 10px;
    color: white;
}

/* FIRST BREAK POINT AT 1200PX */

@media screen and (max-width : 1200px) {
    .header li a{
        font-size: 26px;
    }

    .team .circles{
        height: 180px;
        width: 180px;
        margin: 15px;
    }

    .card{
        width: 25%;
        padding: 10px 10px 5px 10px;
        margin: 18px;
        background-color: white;
        border-radius: 13px;
    }
}


/* SECOND BREAK POINT AT 875PX */

@media screen and (max-width : 875px) {
    .checkbtn{
        display: block;
    }

    .header{
        position: static;
    }

    .header label #btn{
        display: block;
        font-size: 30px;

    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .header ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .header ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0;
    }

    #check:checked ~ label #btn{
        display: none;
    }

    #check:checked ~ label #cancel{
        display: block;
    }

    .team .circles{
        height: 220px;
        width: 220px;
        margin: 50px;
    }

    .container{
        display: inline-block;
        text-align: center;
    }

    .card{
        width: 70%;
        margin: 20px auto ;
        padding: 7px 5px 7px 7px;
        border-radius: 10px;
    }

    
}

/* THIRD BREAKPOINT AT 576PX */

@media screen and (max-width: 576px) {
    
    .about_us h1{
        font-size: 28px;
    }

    .content{
        display: block;
    }

    .main-content{
        width: 100%;
        height: 300px;
        overflow-y: hidden ;
    }

    .main-content p, .main-content h1{
        font-size: smaller;
        margin: 0;
        padding: 10px;
    }

    .parts{
        width: 100%;
    }
    
}