*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    height: 90px;
    background-color: #787A91;
}

.header h1{
    color: white;
    text-align: center;
    line-height: 90px;
}

.banner{
    height: 100vh;
    background-color: #7DEDFF;
    text-align: center;
}

.banner h1{
    line-height: 100vh;
}

