*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    height: 90px;
    background-color: #787A91;
}

.header h1{
    color: white;
    text-align: center;
    line-height: 90px;
}

.banner{
    height: 100vh;
    background-color: #7DEDFF;
    text-align: center;
}

.banner h1{
    line-height: 100vh;
}

.section1{
    height: 40vh;
    background-color: #F4F9F9;
    text-align: center;
    padding-bottom: 30px;
}

.section1 h1{
    padding-top: 20px;
}

.section1 .circles{
    display: inline-block;
    background-color: #F9B208;
    height: 60%;
    width: 15%;
    margin: 50px;
    border-radius: 100%;
}