*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.header{
    height: fit-content;
    background-color: hsl(220, 22%, 35%);
    text-align: center;
    position: sticky;
    top: 0;
}

.header ul li{
    display: inline-flex;
    text-decoration: none;
    justify-content: space-evenly;
}

.header li a{
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    margin: 15px 30px;
}

.header li a:hover{
    background-color: white;
    color: black;
}

.banner{
    height: 100vh;
    background-image: url("../images/banner_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.banner h1{
    padding: 20px;
    font-size: 40px;
    color: white;
}

.team{
    height: fit-content;
    text-align: center;
    padding-bottom: 30px;
}


.team h1{
    font-size: 40px;
    padding-top: 20px;
}

.team .circles{
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 50px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.team #user1{
    background-image: url("../images/user1.png");
}

.team #user2{
    background-image: url("../images/user2.png");
}

.team #user3{
    background-image: url("../images/user3.png");
}

.team #user4{
    background-image: url("../images/user4.jpg");
}

.about_us h1 {
    text-align: center;
    font-size: 35px;
}
.content {
    display: flex;
    padding-top: 20px;
}
.main-content {
    width: 45%;
    background-color: #30475E;
    text-align: justify;
    height: 500px;
    margin-right: 10px;
}
.main-content h1 {
    color: white;
    padding: 0;
    margin: 20px;
}

.main-content p{
    font-size: 17px;
    color: white;
    padding: 30px;
}
.parts {
    width: 55%;
    height: 500px;
}
.part {
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.part h1 {
    text-align: center;
    color: white;
    line-height: 130px;
}
#part1, #part2 {
    margin-bottom: 10px;
}

#part1{
    background-image: url("../images/project1.jpg");
}
#part2{
    background-image: url("../images/project2.jpg");
}
#part3{
    background-image: url("../images/project3.jpg");
}


.heading{
    margin-top: 2%;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.technologies{
    background-color: #C9CCD5;
    padding-top: 30px;
    text-align: center;
}

.container {
    display: inline-flex;
    width: 100%;
    padding: 20px;
   
}

.card{
    width: 25%;
    padding: 20px 20px 10px 20px;
    margin: 30px;
    background-color: white;
    border-radius: 20px;
}

.container .content{
    display: block;
}

.container .card .img_card img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.container .card .content p{
    text-align: justify;
    margin-top: 10px;
}

.container .card .content h3{
    text-align: center;
}

.container .card .read_more{
    background-color: red;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: auto ;
    margin-top: 15px;
}

.container .card .read_more:hover{
    background-color: blue;
}

.container .card .read_more a div{
    font-size: larger;
    color: white;
}

.description{
    margin-top: 20px;
    text-align: center;
}

.description img{
    width: 500px;
    height: 300px;
    margin:20px;
}

.description p{
    padding: 0 5%;
    text-align: justify;
    margin-bottom: 5%;
}