*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: fit-content;
    background-color: hsl(220, 22%, 35%);
    text-align: center;
    position: sticky;
    top: 0;
}

.header ul li{
    display: inline-flex;
    text-decoration: none;
    justify-content: space-evenly;
}

.header li a{
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    margin: 15px 30px;
}

.header li a:hover{
    background-color: white;
    color: black;
}

.banner{
    height: 100vh;
    background-image: url("../images/banner_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.banner h1{
    padding: 20px;
    font-size: 40px;
    color: white;
}

.team{
    height: 35vh;
    background-color: #628395;
    text-align: center;
    padding-bottom: 30px;
}

.team h1{
    font-size: 40px;
    padding-top: 20px;
    color: white;
}

.team .circles{
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 50px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.team #user1{
    background-image: url("../images/user1.png");
}

.team #user2{
    background-image: url("../images/user2.png");
}

.team #user3{
    background-image: url("../images/user3.png");
}

.team #user4{
    background-image: url("../images/user4.jpg");
}

