*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    overflow-x: hidden;
}

.header{
    height: 90px;
    width: 100%;
    background-color: #001E6C;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

.header img{
    height: 70px;
    width: 70px;
    margin-right: 20px;
}

.header h1{
    font-size: 35px;
    color: white;
}

.content{
    padding: 30px;
    text-align: center;
    transition: 0.4s;
}

.content img{
    height: 500px;
    width: 900px;
}

.content p{
    text-align: justify;
    padding-top: 20px;
}

.sidebar{
    width: 20%;
    height: 100%;
    background-color: #012443;
    position: fixed;
    top: 90px;
    left: -100%;
    transition: 0.8s;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    border-bottom: 1px solid #ffff;
}

.sidebar ul li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
    font-size: 20px ;
}

.sidebar ul li a i{
    margin-right: 8px;
}

.sidebar ul li a:hover{
    font-size: 24px;
    border-top: 5px solid white;
    border-left: 8px solid white;
    transition: 0.3s;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    
}

.icons a{
    text-decoration: none;
    color: white;
    display: block;
    padding-bottom: 25px;
}

.icons a:hover{
    transform: scale(1.2);
    transition: 0.4s;
}

.show-btn, .hide-btn{
    font-size: 40px;
    position: fixed;
    top: 30px;
    left: 60px;
    color: white;
    cursor: pointer;
}

.hide-btn{
    display: none;
}

#check:checked ~ .sidebar{
    left: 0;
    transition: 0.4s;
}

#check:checked ~ .hide-btn{
    display: block;
}

#check:checked ~ .show-btn{
    display: none;
}

#check:checked ~ .content{
    margin-left: 20%;
    transition: 0.8s;
}

@media (max-width: 750px){
    
    .sidebar{
        width: 100%;
        text-align: center;
    }

}


