*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #C9CCD5;
}

a{
    text-decoration: none;
}

.container {
    display: inline-flex;
    width: 100%;
    padding: 20px;
}

.card{
    width: 25%;
    padding: 20px 20px 10px 20px;
    margin: 30px;
    background-color: white;
    border-radius: 20px;
}

.container .card .img_card img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.container .card .content p{
    text-align: justify;
    margin-top: 10px;
}

.container .card .content h3{
    text-align: center;
}

.container .card .read_more{
    background-color: red;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: auto ;
    margin-top: 15px;
}

.container .card .read_more:hover{
    background-color: blue;
}

.container .card .read_more a div{
    font-size: larger;
    color: white;
}
